/* ===== LOGIN PAGE ===== */
.login-page {
  background: #f4f6fb;
  min-height: 100vh;
  font-family: "Segoe UI", sans-serif;
}

* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body.login-page {
  margin: 0;
  background: #f4f6fb;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CENTER */
.login-center {
  width: 420px;
  text-align: center;
}

/* LOGO */
.login-logo {
  width: 120px;
  margin-bottom: 15px;
}

/* TITLE */
.login-title {
  color: #1f5fa8;
  margin: 10px 0;
  font-size: 28px;
  font-weight: 700;
}

/* SUBTITLE */
.login-subtitle {
  color: #1f5fa8;
  margin-bottom: 30px;
  font-size: 15px;
}

/* INPUTS */
.login-center input {
  width: 100%;
  padding: 14px 16px;
  margin-bottom: 18px;
  border: 2px solid #1f5fa8;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
}

/* BUTTON */
.login-center button {
  width: 100%;
  padding: 14px;
  background: #1f5fa8;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.login-center button:hover {
  background: #174b86;
}

/* LINK */
.login-link {
  display: block;
  margin-top: 18px;
  color: #1f5fa8;
  text-decoration: underline;
  font-size: 14px;
}
