* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f1f5f9;
}

body.dark {
    background: #020617;
    color: white;
}

/* LOGIN */
.center {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    background: white;
    padding: 30px;
    width: 300px;
    border-radius: 10px;
    text-align: center;
}

.login-box input {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

.login-box button {
    width: 100%;
    padding: 10px;
    background: #2563eb;
    color: white;
    border: none;
    cursor: pointer;
}

/* HEADER */
header {
    background: #0f172a;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
}

/* LAYOUT */
.layout {
    display: flex;
    height: calc(100vh - 70px);
}

/* SIDEBAR */
aside {
    width: 220px;
    background: #020617;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

aside a {
    color: #cbd5f5;
    text-decoration: none;
    margin-bottom: 15px;
}

/* MAIN */
main {
    flex: 1;
    padding: 30px;
}

.cards {
    display: flex;
    gap: 15px;
    margin: 20px 0;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    aside {
        display: none;
    }
    .cards {
        flex-direction: column;
    }
}
